@charset "UTF-8";
@font-face {
  font-family: 'venue';
  src: url('++plone++collective.venue/font/fontello.eot?92042799');
  src: url('++plone++collective.venue/font/fontello.eot?92042799#iefix') format('embedded-opentype'), url('++plone++collective.venue/font/fontello.woff?92042799') format('woff'), url('++plone++collective.venue/font/fontello.ttf?92042799') format('truetype'), url('++plone++collective.venue/font/fontello.svg?92042799#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body#visual-portal-wrapper.pat-plone .outer-wrapper a.contenttype-venue:before {
  font-family: "venue";
  content: '\e800';
}
body#visual-portal-wrapper.pat-plone #edit-zone a.contenttype-venue:after {
  font-family: "venue";
  content: '\e800' !important;
  top: 5px;
}
.venueview section {
  float: left;
  padding: 0 1em 1em 0;
}
.venueview section.address,
.venueview section.contact,
.venueview section.social,
.venueview section.notes {
  min-width: 33%;
}
.venueview section.map {
  clear: left;
  min-width: 66%;
}
.venueview section.notes:after {
  content: '';
  clear: left;
}
.venueview dt {
  float: left;
  min-width: 7em;
  font-weight: bold;
}
.venueview dd:after {
  content: '';
  clear: left;
}
#formfield-form-widgets-IAddress-zip_code {
  float: left;
  width: 10em;
  margin-right: 1em;
}
#formfield-form-widgets-IAddress-city {
  float: left;
  width: 30em;
  margin-right: 1em;
}
#formfield-form-widgets-IAddress-country {
  float: left;
  width: 30em;
}
#formfield-form-widgets-IAddress-country:after {
  clear: left;
  content: '';
}
#formfield-form-widgets-IContact-email {
  float: left;
  width: 45%;
  margin-right: 1em;
}
#formfield-form-widgets-IContact-website {
  float: left;
  width: 45%;
}
#formfield-form-widgets-IContact-website:after {
  clear: left;
  content: '';
}
#formfield-form-widgets-IContact-phone {
  float: left;
  width: 30%;
  margin-right: 1em;
}
#formfield-form-widgets-IContact-mobile {
  float: left;
  width: 30%;
  margin-right: 1em;
}
#formfield-form-widgets-IContact-fax {
  float: left;
  width: 30%;
}
#formfield-form-widgets-IContact-fax:after {
  clear: left;
  content: '';
}
.geolocation_wrapper.edit .form-group {
  display: inline;
  margin-right: 1em;
}
.geolocation_wrapper.edit label {
  display: inline;
  margin-right: 0.5em;
}
.geolocation_wrapper.edit input {
  display: inline;
  width: 20em;
}
